<link rel="stylesheet" href="/styles/style.css">
<nav class="navbar">
        <div class="brand">
            <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1650101338/CraftingCrew/Craftingcrew-logos_black_p8gypw.png" alt="" srcset="">
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="links">
            <ul>
                <li><a href="/admin/" >Home</a></li>
                <li><a href="/admin/AddJobs"> Add Jobs</a></li>
                <li><a href="/admin/applications" >Applications</a></li>
                <li><a href="/admin/submittedcv" >Submitted cv</a></li>
            </ul>

        </div>
</nav>
<script src="/javascripts/main.js"></script>