<link rel="stylesheet" href="/styles/style.css">
<nav class="navbar">
        <div class="brand">
            <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1677680134/CraftingCrew/InfoStation-logos_black_n2qkx0.png" alt="" srcset="">
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="links">
            <ul>
                <li><a href="/" >Home</a></li>
                <li><a href="/Jobs" >Jobs</a></li>
                <li><a href="/Contact-us" >Contact us</a></li>
                <li><a href="/notes" >Notes</a></li>
               
            </ul>
        </div>
        <div class="profile_nav">
            <%- include("./profile.ejs") %>
        </div>
        
</nav>
 
<script src="/javascripts/main.js"></script>