<link rel="stylesheet" href="/styles/profile.css">
<div class="profile_wrapper">
    <div class="profile">
        <div class="pro_img_contain">
            <div class="pro_img">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
        </div>
        
    </div>
    <div class="profile_links">
    <ul>
        <%if(!currentUser){%> 
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <%}
        else{%> 
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user/profile/<%=currentUser.id%>">Profile</a></li>
        <%}%> 
    </div>
    </ul>
</div>
<script src="/javascripts/profileDrop.js"></script>