<%- layout("layout/boilerplate") %> 
<link rel="stylesheet" href="../styles/errorTemp.css">
<div class="container">
    <div class="imgsrc"><img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1655819856/CraftingCrew/Character03_awlapb.svg" alt="" srcset=""></div>
    <div class="logo">
        <h1>404 NOT FOUND</h1>
        <P>It seems you came to wrong path<em>
            ....Let us help you to get on right one</em></P>
         <a href="/"><button type="submit">Go Home</button></a>   
    </div>
   
</div>