<%- layout("layout/boilerplate") %> 
<link rel="stylesheet" href="/styles/landingPage.css">
<div class="container">
    <section class="card">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1650093830/CraftingCrew/undraw_happy_announcement_re_tsm0_wg6hu5.svg" alt="" srcset="">
        <div>
            <h3>One of the best Consultancy Website</h3>
            <p>InfoStation– is a crew who is here to put at ease your recruitment needs and craft an HR strategy for you which is fruitful both to the employer as well the employee. 
            </p>
           <a href="/Contact-us"><button>Talk with us</button></a> 
        </div>
        
    </section>
    
    <section class="card">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1649926278/CraftingCrew/undraw_in_progress_re_m1l6_okglpf.svg" alt="" srcset="">
        <div>
            <h3>InfoStation</h3>
           <ul>
            <li>Quality – “Right, the first time” is our objective in attaining quality recruitment for our clients. 
            </li>
            <li>Integrity – We ensure confidentiality to our clients in every transaction being carried with them.
            </li>
            <li>Innovation – We are constantly struggling to craft innovative strategies for clients pertaining to their HR needs. 
            </li>
           </ul>
        </div>  
        </section>
        <section class="card">
          
            <div>  <%- include("./timeline.ejs") %> </div>
   
        </section>
        <section class="card">
              <h1>Our Clients</h1>
            <div class="wrap">
               <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161009/CraftingCrew/Clients/Kotak_Mahindra_Bank_logo_muc3yn.png" alt="">
               <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161009/CraftingCrew/Clients/pngwing.com_mlsoa6.png" alt="">
               <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161009/CraftingCrew/Clients/tcs-blue-reversible_srnkvu.png" alt="">
               <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161008/CraftingCrew/Clients/wns-logo_nmn68q.png" alt="">
               <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161008/CraftingCrew/Clients/1200px-RAK_Ceramics_logo.svg_mfizg0.png" alt="">
               <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161008/CraftingCrew/Clients/logo_qjdakc.png" alt="" srcset="">
            </div>
        </section>
       
</div>
<div class="scrolldown">

    <span></span>
    <span></span>
    <span></span>
</div>





