<%- layout("layout/boilerplate") %> 
<div style="display: flex; justify-content:space-evenly; flex-wrap:wrap">
    <iframe src="https://online.flippingbook.com/view/411894673/" style="width:600px; height:500px; margin:10px;" frameborder="0"></iframe>
    <iframe src="https://online.flippingbook.com/view/412032790//" style="width:600px; height:500px; margin:10px;" frameborder="0"></iframe>
    <iframe src="https://online.flippingbook.com/view/411504917//" style="width:600px; height:500px; margin:10px;" frameborder="0"></iframe>
    <iframe src="https://online.flippingbook.com/view/411514140//" style="width:600px; height:500px; margin:10px;" frameborder="0"></iframe>
    <iframe src="https://online.flippingbook.com/view/411061442//" style="width:600px; height:500px; margin:10px;" frameborder="0"></iframe>
    <iframe src="https://online.flippingbook.com/view/411328969//" style="width:600px; height:500px; margin:10px;" frameborder="0"></iframe>
    <iframe src="https://online.flippingbook.com/view/411075824//" style="width:600px; height:500px; margin:10px;" frameborder="0"></iframe>
</div>