*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    padding: 0 10px;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #023047;
    border-radius: 10px;
  }
.wrapper{
max-width: 1000px;
width: 100%;
background:linear-gradient(135deg,#ee9ca7,#ffdde1);
margin: 20px auto; 
padding: 30px;
}
.title{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    font-size: 1rem;
}
.inputfield{
    margin: 10px;
    
}
.inputfield label{
    margin-right: 100px;
    width: 100%;
}
.text{
    border: none;
    width: 500px;
    height: 80px;
}
input[type="text"]::placeholder { 
    text-align: center;
}
input[type="text"]{
    font-size: 1rem;
    text-align: center;
}
.textarea{
    border: none;
    background-color: #fff;
    resize: none;
    outline: none;
    width: 500px;
    box-shadow: 1px 1px 1px black;
    text-align: center;
}
.input_image{
    width: 357px;
    height: 211px;
    border:2px #ffdde1 solid;
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    border: none ;
    background-color: aliceblue;
    padding: .5rem;
    box-shadow: 1px 1px 1px #ee9ca7;
    border-radius: 5px;
}