body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right,#ee9ca7,#ffdde1);
}
.containerApply{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrap{
    width: 430px;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);

    
}
.wrap .file-upload{
    height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}
form i{
    font-size: 50px;
}
.file-name{
   display: none;
    background-color: aliceblue;
    min-width: 100px;
    min-height: 70px;
    margin: 10px;
}
.wrapper-file{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.file-name i{
    color: #6990F2;
   font-size: 40px;
   margin: 10px;
}
.wrapper-file{
    margin-right: 80px;
}

/* .progress p{
   
   
    height: 20px;
    width: 80px;
}
.progress p .success{
    background-color: #ee9ca7;
}
.progress p .failed{
    background-color:crimson;
} */