@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	box-sizing: border-box;
}
.register_container{
    font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}
.heading{
	font-weight: bold;
	margin:0;
	text-align: center;
}
p{

text-align: center;}
a{
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px;
}
.register_card{
	position: relative;
	width: 868px;
	max-width: 100%;
	max-width: 100%;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	border-radius: 25px 25px 25px 25px;

}
.image_register img{
width:100%;
}
.image_register {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color:#2f2e41;
	border-radius: 25px 0px 0px 25px;
}
.register_form{
	padding: 20px;
	background-color: #ee9ca7;
	border-radius: 0px 25px 25px 0px;
	
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #023047;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ee9ca7;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
.buttons{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.button_google{
	padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #023047;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ee9ca7;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
.button_login{
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #023047;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #ee9ca7;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
}
i{
	margin: 10px;
}
.fa-google {
	background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
  }
  .toggle-password{
	float: right;
	margin-left:-30px;
	margin-right: 10px;
	/* margin-top: -25px; */
	margin-top:20px;
	position: relative;
	z-index: 2;
	
  }
  @media(max-width:700px){
	
.register_container{
	position: relative;
	max-width:100vw;
	max-height:100%;
	margin: 0%;
	padding: 0%;


	
}
.register_card{
	position: absolute;
	display: block;
	border-radius: 0%;
	height: 100%;
	overflow: visible;
	/* bottom:150px; */
}
.image_register{
	max-height:100%;
	border-radius: 0%;
}
img{
	max-width:50%;
	margin-top: 20px;
}
.register_form{
	max-height: 100%;
	border-radius: 0%;
}}

