/* 

.success_container{
    position: absolute;
    max-height: 100px;
   max-width:100%;
   left:600px;
   color: white;
   

   
}
.block{
    display: flex;
    background-color: rgba(233, 196, 106,0.9);
    justify-content: center;
    align-items: center;
 width: 100%;
}
.block .imager{
width: 60px;
height: 70px;    
margin: 10px;
z-index: 10000;

}
.message .head{
    margin: 10px 10px 0px 10px;
    z-index: 10000;
    font-size: larger;
}
.message p{
    margin: 10px;
    z-index: 10000;
}
.undo button{
    padding: 7px;
    margin: 10px;
    border: 0.5px solid #fff;
    border-radius: 100%;
    background-color: rgba(255, 255, 255,0.3);
    color:rgb(255, 255, 255);
    font-weight: 800;
   
}

@media(max-width:700px){
    .success_container{
        position: absolute;
        max-height: 70px;
       max-width:70%;
       left: 50px;
       color: white;
       z-index: 10000;
       
    
       
}
.message .head{
    margin: 10px 10px 0px 10px;
    font-weight: 600;
   
    font-size:medium;
}
.message p{
    font-size: small;
    margin: 10px;
}}
 */
/* flash_msg */
.flash_container {
	padding: 8px;
	width: auto;
	height: auto;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	overflow: hidden;
   
   
}

.flash_msg .msg {
	display: flex;
	align-items: center;
	padding: 12px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	position: relative;
	overflow: hidden;
    background-color:white
}
.flash_msg .msg:before {
	content: "";
	display: block;
	width: 5px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
.flash_msg .msg + .msg {
	margin-top: 24px;
}
.msg .text {
	flex-grow: 1;
	padding: 0 8px;
}
.msg .text .title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
}
.msg .text .content {
	color: #a9a9a9;
}

.msg i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	font-size: 16px;
	border-radius: 50%;
}
.s_success i.fa-check {
	color: white;
	background: #88aa00;
}
.s_success:before {
	background: #88aa00;
}
.s_info i.fa-info {
	color: white;
	background: #0066ff;
}
.s_info:before {
	background: #0066ff;
}
.s_warning i.fa-exclamation {
	color: white;
	background: #ffbb00;
}
.s_warning:before {
	background: #ffbb00;
}
